## Kata 8

In [1]:
mars = {
    'name': 'Mars',
    'moons': '2'
}

In [5]:
print ('the planet', mars['name'],'has', mars['moons'], 'moons')

the planet Mars has 2 moons

In [9]:
#circumference km
mars['circumference'] = {
    'polar': 6752,
    'equatorial': 6792
}

In [10]:
print ('the planet', mars['name'],'has a polar circumference of ', mars['circumference']['polar'])

the planet Mars has a polar circumference of  6752

## Ejercicio 2

In [1]:
planet_moons = {
    'mercury': 0,
    'venus': 0,
    'earth': 1,
    'mars': 2,
    'jupiter': 79,
    'saturn': 82,
    'uranus': 27,
    'neptune': 14,
    'pluto': 5,
    'haumea': 2,
    'makemake': 1,
    'eris': 1
}

In [2]:
moons = planet_moons.values()

In [4]:
planets = len(planet_moons.keys())

In [5]:
total = 0
for moon in moons:
    total= total + moon

In [6]:
average = total / planets

In [7]:
print(average)

17.833333333333332